{% block customer_top %}
    <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
            <div class="well text-center">
                {{
                    "Hello %firstname% %lastname%"|trans({
                        '%firstname%': userData.get('firstname', 'Guest'),
                        '%lastname%': userData.get('lastname', '')
                    })|trim
                }}
                <br>
                <a href="{{ url("ongr_cart") }}">
                    {{ "View cart (%count%)"|trans({ "%count%" : cartCount }) }}
                </a>
                <br>
                {% if userData.count() %}
                    <a href="{{ logoutUrl }}">{{ "Logout"|trans }}</a>
                {% else %}
                    <a href="{{ loginUrl }}">{{ "Login"|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
